body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
}

img{
    max-width: 100%;
    display: block;
}

/*  =============
    Typography
    ============= */
h1,
h2,
h3{
    font-family: 'Lora', serif;
    color: #143774;
    font-weight: 400;
    margin-top: 0;
}

h1{
    font-size: 2rem;
    margin: 0;
}

h2{
    font-size: 1.5rem;
}

a{
    color: #1792d2;
}

a:focus,
a:hover{
    color: #143774;
}

strong{
    font-weight: 700;
}

.subtitle{
    font-size: 0.75rem;
    font-weight: 700;
    margin: 0;
    color: #1792d2;
}

.article-info,
.article-read-more{
    font-size: 0.875rem;
}

.article-read-more{
    font-weight: 700;
    text-decoration: none;
}

.article-read-more:hover,
.article-read-more:focus{
    text-decoration: underline;
}

/*  =============
    Layout
    ============= */

header{
    background: #f8f8f8;
    padding: 2em 0;
    text-align: center;
    margin-bottom: 3em;
}

footer{
    background: #143774;
    color: white;
    text-align: center;
    padding: 2em;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
}

.container-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Navigation */

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

nav li{
    margin: 0;
    margin-right: 2em;
    padding-bottom: 1em;
}

nav a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    color: #707070;
    padding: 0.25em 0 ;
}

nav a:focus,
nav a:hover{
    color: #1792d2;
}

.current-page:focus,
.current-page:hover{
    color:#707070;
}


/* articles */

.article-featured{
    border-bottom: 1px solid #707070;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.article-recent{
    display: flex;
    flex-direction: column;
}

.article-recent-main{
    order: 2;
    margin-bottom: 2em;
}

.article-recent-secondary{
    order: 1;
}

/* Sidebar */

.sidebar-widget{
    border: 20px solid #f8f8f8;
    margin-bottom: 2em;
    padding: 1em;
}

.widget-title,
.widget-recent-post-title{
    font-size: 1rem;
}

.widget-title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.widget-recent-post{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #707070;
    margin-bottom: 1em;
}

.widget-recent-post:last-child{
    border: 0;
    margin: 0;
}

.widget-image{
    order: -1;
}

/* Media Queries */

@media (min-width:740px){
    .container-flex{
        flex-direction: row;
    }
    main{
        width: 70%;
    }
    
    aside{
        width: 25%;
    }

    nav ul{
        flex-direction: row;
        padding: 0;
        justify-content: center;
    }

    nav li{
        margin: 0;
        margin-left: 2em;
    }

    .article-recent{
        flex-direction: row;
        justify-content: space-between;
    }

    .article-recent-main{
        width: 68%;
    }

    .article-recent-secondary{
        width: 30%;
    }

    .article-featured{
        display: flex;
        flex-direction: column;
    }

    .article-image{
        order: -2;
        width: 100%;
        min-height: 250px;
        object-fit: cover;
    }

    .article-info{
        order: -1;
    }

}

